#!/usr/bin/make -f

export DH_RUBY = --gem-install

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_build:
	racc -o actionpack/lib/action_dispatch/journey/parser.rb \
		actionpack/lib/action_dispatch/journey/parser.y
	cd activestorage; mkdir node_modules; \
		ln -s rollup-plugin-commonjs node_modules; rollup -c; cd -
	mkdir -p actionview/lib/assets/compiled
	coffee -c actionview/app/assets/javascripts
	cp debian/actionview.rollup.config.js actionview/app/assets/javascripts
	cd actionview/app/assets/javascripts; \
		rollup -c actionview.rollup.config.js; cd -
	cp actionview/app/assets/javascripts/compiled-rails-ujs.js \
		actionview/lib/assets/compiled/rails-ujs.js

override_dh_clean:
	dh_clean -X~ -X.bak
	$(RM) -r railties/guides/output

override_dh_auto_install:
	dh_auto_install
	$(RM) debian/ruby-activesupport/usr/bin/generate_tables
	$(RM) debian/*/usr/bin/test
	rmdir debian/*/usr/bin || true

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_PROFILES)),)
	dh_auto_test
endif
