#!/usr/bin/make -f

export DH_RUBY = --gem-install

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_build:
	racc -o actionpack/lib/action_dispatch/journey/parser.rb \
		actionpack/lib/action_dispatch/journey/parser.y
	cd activestorage; mkdir node_modules; \
		ln -s rollup-plugin-commonjs node_modules; rollup -c; cd -
	cd actionview; blade build; cd -
	cd actioncable; rake -Ilib assets:codegen; cd -

override_dh_clean:
	dh_clean -X~ -X.bak
	$(RM) -r railties/guides/output
	# kill redis server for tests, don't fail if not started
	debian/stop-redis-server.sh || true
	
override_dh_auto_install:
	# start redis server for tests
	debian/start-redis-server.sh
	# auto install
	dh_auto_install -O--buildsystem=ruby
	# kill redis server used for tests
	debian/stop-redis-server.sh	
	$(RM) debian/ruby-activesupport/usr/bin/generate_tables
	$(RM) debian/*/usr/bin/test
	rmdir debian/*/usr/bin || true

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_PROFILES)),)
	dh_auto_test
endif
